option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app  # <--- FILE:VARIABLE

packages:
  yum:
    git: []

files:
  "/etc/httpd/conf.d/flaskapp.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIScriptAlias / /var/app/current/app.wsgi
      <Directory /var/app/current>
          Order allow,deny
          Allow from all
      </Directory>
